<p>List of documents</p>

Number of documents: {{contracts.length}}

<ul class="heroes">
    <li *ngFor="let contract of contracts">
        <button [disabled]="isLoading" type="button"
        (click)="Load(contract)">
        
        Load {{contract.DisplayName}}</button>
        <br />
    </li>
  </ul>


  <div  >
    <h1>{{isLoading? "!Please Wait to load !" +NameContract : "Contracts for "+NameContract}}</h1>
    <h1 *ngIf="errMessage.length>1">>{{errMessage   }}</h1>
    <table *ngIf="!isLoading">
        <tr><td>Nr</td><td>Name</td><td>Value</td></tr>

        <tr *ngFor="let item of replacements.keys();let i = index">
            <td>{{i+1}}</td>
            <td>{{item}}</td>
            <td><input   (keyup)="onChangeRep($event,item)" value="{{replacements.get(item)}}" placeholder="add value"/></td>
        </tr>
    </table>

    <button type="button" (click)="Save()">Save</button>
  </div>


  <footer>Please contact ignat.andrei@gmail.com</footer>